.carousel-caption {
    right: 15%;
    left: 15%;
    text-shadow: none;
    padding: 0;
    bottom: 50%;
    -webkit-transform: translate(0, 50%);
    -ms-transform: translate(0, 50%);
    transform: translate(0, 50%);
}
.carousel-caption > h2 {
    font-family: "raleway";
    color: #fff;
    font-size: 52px;
    font-weight: 400;
    position: relative;
    padding-bottom: 15px;
    -webkit-transform: scale(0.8);
    -ms-transform: scale(0.8);
    transform: scale(0.8);
    opacity: 0;
    -webkit-transition: -webkit-transform 0.5s, opacity 0.5s;
    transition: transform 0.5s, opacity 0.5s;
    -webkit-transition-delay: 0.5s;
    transition-delay: 0.5s;
    -webkit-transition-timing-function: cubic-bezier(0.23, 1, 0.32, 1);
    transition-timing-function: cubic-bezier(0.23, 1, 0.32, 1);
}
.carousel-caption > h2:after {
    content: '';
    display: block;
    width: 120px;
    height: 3px;
    background-color: #69c4fe ;
    position: absolute;
    bottom: 0;
    left: 50%;
    margin-left: -60px;
    -webkit-transform: scaleX(0);
    -ms-transform: scaleX(0);
    transform: scaleX(0);
    -webkit-transition: -webkit-transform 0.5s;
    transition: transform 0.5s;
    -webkit-transition-delay: 1s;
    transition-delay: 1s;
    -webkit-transition-timing-function: cubic-bezier(0.23, 1, 0.32, 1);
    transition-timing-function: cubic-bezier(0.23, 1, 0.32, 1);
}
.carousel-caption > p {
    color: #fff;
    font-size: 20px;
    line-height: 2.500em;
    font-weight: 300;
    -webkit-transform: scale(1.2);
    -ms-transform: scale(1.2);
    transform: scale(1.2);
    opacity: 0;
    -webkit-transition: -webkit-transform 0.5s, opacity 0.5s;
    transition: transform 0.5s, opacity 0.5s;
    -webkit-transition-delay: 1.5s;
    transition-delay: 1.5s;
    -webkit-transition-timing-function: cubic-bezier(0.23, 1, 0.32, 1);
    transition-timing-function: cubic-bezier(0.23, 1, 0.32, 1);
}
.carousel-inner .item.active .carousel-caption > h2 {
    opacity: 1;
    -webkit-transform: scale(1);
    -ms-transform: scale(1);
    transform: scale(1);
}
.carousel-inner .item.active .carousel-caption > h2:after {
    -webkit-transform: scaleX(1);
    -ms-transform: scaleX(1);
    transform: scaleX(1);
}
.carousel-inner .item.active .carousel-caption > p {
    opacity: 1;
    -webkit-transform: scale(1);
    -ms-transform: scale(1);
    transform: scale(1);
}
.carousel-inner > .beactive {
    display: block;
}
.carousel-control {
    width: 80px;
    height: 120px;
    top: 50%;
    margin-top: -60px;
    background-color: rgba(255, 255, 255, 0.2);
    background-image: url(../img/arrow-left.png) !important;
    background-position: center center !important;
    background-repeat: no-repeat !important;
    background-size: 33px 60px;
    -webkit-transition: left 0.3s, right 0.3s;
    transition: left 0.3s, right 0.3s;
}
.carousel-control.left {
    left: -100px;
}
.carousel-control.right {
    background-image: url(../img/arrow-right.png) !important;
    right: -100px;
}
.carousel {
    overflow: hidden;
}
.carousel:hover .carousel-control.left {
    left: 0;
}
.carousel:hover .carousel-control.right {
    right: 0;
}

#mega-slider .item::before {
    background: rgba(5, 5, 5, 0.5) none repeat scroll 0 0;
    content: "";
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
    z-index: 1;
}

@media (max-width: 767px) {
    .carousel-caption{
        display:none;
    }
}
